.section-about {
    min-height: 120rem;
    background: $color-secondary;

    @include respond(tab-land) {
        padding-bottom: 18rem;
    }

    @include respond(phone) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .row:last-child {
        @include respond(tab-land) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        // .col-1-of-2:last-child {
        //     display: flex;
        //     flex-flow: row wrap;
        //     justify-content: center;
        // }
    }

    .heading-secondary {
        text-align: right;
        padding-top: 4rem;
        color: #333;

        @include respond(tab-land) {
            margin-right: 2rem;
        }
    }

    .col-1-of-2:first-child {
        .text:not(last-child) {
            margin-bottom: 2rem;
        }

        .text {
            font-size: 1.8rem;
            letter-spacing: 0.1rem;
            text-align: justify;
        }

        @include respond(tab-land) {
            margin-left: 2rem;
        }

        @include respond(phone) {
            margin-left: 0;
        }
    }

    .col-1-of-2 {
        @include respond(tab-land) {
            width: 80%;
        }
    }

    .col-1-of-2:last-child {
        @include respond(tab-land) {
            margin-top: 3rem;
        }
        
        @include respond(phone) {
            margin-top: 1rem;
        }
    }
}
