.home {
    height: 100vh;
    overflow: hidden;

    &__dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    &__content {
        height: 100vh;;
        display: flex;
        align-items: center;
        padding-top: 25rem;
        padding-bottom: 5rem;

        @include respond(tab-land) {
            padding-top: 10rem;
        }

        @include respond(tab-land) {
            justify-content: center;
            align-content: center;
        }

        @include respond(phone) {
            flex-direction: column;
        }

        &__image {
            height: 35rem;
            width: 35rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            margin-left: 20rem;

            @include respond(tab-land) {
                height: 40rem;
                width: 40rem;
                margin: 10rem;
            }

            @include respond(tab-port) {
                height: 30rem;
                width: 30rem;
                margin-left: 10rem;
            }

            @include respond(phone) {
                height: 20rem;
                width: 20rem;
                margin: 0;
            }
        }

        &__heading--primary {
            font-size: 10rem;
            color: #fff;

            span {
                color: $color-tertiary;
            }

            @include respond(phone) {
                font-size: 10rem;
            }
        }

        .respond-first {
            @include respond(tab-land) {
                display: flex;
                justify-content: center;
            }

            @include respond(phone) {
                display: flex;
                justify-content: center;
                padding-top: 6rem;
            }
        }

        .respond-second {
            @include respond(tab-land) {
                display: flex;
                justify-content: center;
            }
        }

            // @include respond(tab-port) {
            //     flex-direction: column;
            // }
    }
}
