.section-portfolio {
    padding: 20rem 0;
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url("../img/portfolio.jpg");
    background-size: cover;
    transform: skewY(7deg);
    margin-top: -10rem;

    .heading-secondary {
        margin-top: -15rem;
        padding: 5rem;
        color: #fff;

        @media screen and (max-width: 340px) {
            padding: 3rem;
        }

        @include respond(tab-land) {
            margin-top: 0;
        }
    }

    & > * {
        transform: skewY(-7deg);
    }
}

.portfolio-box {
    background-color: rgba($color-secondary, 0.7);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: transform 0.7s;

    @include respond(tab-port) {
        padding: 2rem;
        margin: 0 10rem;
    }

    @include respond(phone) {
        padding: 2rem;
        margin: 0;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: 2.5rem;
        display: inline-block;
        -webkit-background-clip: text;

        &--bottom {
            margin-top: 2rem;
            padding-right: 2rem;
        }
    }

    &__heading {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    &:hover {
        transform: translateY(-3.5rem) scale(1.05);
    }
}
